/*
color scheme:
#eab0d9
#f1c6de
#f7e8f0
*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1c6de;
    height: 100%;
    min-height: 100%;
    place-items: center;
}

h1 {
    text-align: center;
    padding: 20px;
}

p {
    font-size: 14px;
    padding: 10px;
}

/* buttons */
#btn {
    margin: 10px;
    padding: 12px 28px;
    background-color: #f7e8f0;
    border-radius: 12px;
    font-size: 15px;
    border: 0px;
}

/* input text */
input[type=text] {
    padding: 6px 14px;
    font-size: 15px;
}

/* game screen */
#gameScreen {
    margin: 2% 10%;
    border: 1px solid
}

/* chat */
#chat-container {
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    height: 95vh;
    background-color: #f7e8f0;
    border-radius: 10px;
}

#new-message-container {
    border-top: 1px solid gray;
    border-radius: 0 0 0 10px;
}

/* header */
.topnav {
    background-color: #18181a;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 16px 24px;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #dedede;
    color: black;
}

.topnav a.active {
    background-color: #eab0d9;
    color: black;
}

/* footer */
.footer {
    background-color: #18181a;
    color: #dedede;
    height: 200px;
    position: relative;
    margin-top: 50px;
}

.footer .footer-bottom {
    background-color: #0c0c0e;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 15px;
}